# --- 忽略所有沒有副檔名的檔案 ------------------
*          # 先把所有檔案都忽略
!*/        # 再把所有資料夾重新開放（否則整個專案都被擋住了）
!*.*       # 再把「有副檔名」的檔案重新開放
optiondata.json # 忽略 optiondata 
# ----------------------------------------------